.box{
    box-shadow: 10px 10px 50px black;
}
.input-check{
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: red;
}
.input-submit{
    transition: all 1s;
}
.input-submit:hover{
    transform: scale(1.1,1.0);
    color: black;
}