body{
    background: #000000;
    transition-duration: 3s;
}
#change{
    position: fixed;
    left: 50px;
    top: 49vh;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    background: #bb1030;
}
#change:active{
    background: #bb103099;
}
.place{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displaybox{
    color: white;
    text-align: right;
    font-size: 40px;
    text-indent: 2px;
    overflow: hidden;
}
.calculator{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.displaytext{
    margin: 0;
}
.displaybox{
    height: 150px;
}
.numberpad table tr td div{
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    text-align: center;
    background: #202020;
    color: white;
    border-radius: 30px;
    margin: 5px;
    user-select: none;
}
.numberpad table tr td div:hover{
    background: #202020bb;
}
.numberpad table tr td div:active{
    background: #20202099;
}
.numberpad table tr td .zero{
    width: 190px;
}
.numberpad table tr:first-child div{
    background: #606060;
}
.numberpad table tr:first-child div:hover{
    background: #606060bb;
}
.numberpad table tr:first-child div:active{
    background: #60606099;
}
.numberpad table tr td:last-child div{
    background: #c2b000;
    color: #0f0f0f;
}
.numberpad table tr td:last-child div:hover{
    background: #c2b000bb;
    color: #0f0f0f;
}
.numberpad table tr td:last-child div:active{
    background: #c2b00099;
    color: #0f0f0f;
}
@media screen and (max-width: 800px) {
    .numberpad table tr td div{
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 40px;
    }
    .numberpad table tr td .zero{
        width: 150px;
    }
    #change{
        left: 0px;
        top: 10px;
    }
}
